
  <h1>EDUCATIONAL BACKROUND</h1>
  <table> 
      <tr>
          <td>High school</td>
          <td>subject</td>
          
      </tr>
              <tr>
                  <td>Takalane High school</td>
                  <td>
                          <li>geography</li>
                          <li>visual basics</li>
                          <li>mathematics</li>
                          <li>communication</li>
                  </td>
              </tr>
  
  </table>


  <h1>TERTIARY BACKROUND</h1>

  <table> 
          <tr>
              <td>UNIRVESITY</td>
              <td>MODULES</td>
              
          </tr>
                  <tr>
                      <td>UNIVERSITY OF SA</td>
                      <td>
                              <li>JAVA</li>
                              <li>DATABASE</li>
                              <li>QUANTITATIVES</li>
                              <li>CSS</li>
                      </td>
                  </tr>
      
   </table>
  
            

  <div class="footer">
        <p>Created by Rollet Ndebele</p>
    
      </div>