p
{
text-align: center;
margin-left: auto;
margin-right: auto;
font-size: small;
color:whitesmoke;

}
h3
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    color:whitesmoke;
    font-style: normal;
    
   
    }