<html>
<head>
                     
<title><b>ROLEI AIRLINES</b></title>
</head>
<body>

<h3><b>GETTING TO KNOW US</b></h3>
<p><b>OUR HISTORY</b></p>
<p> <b>
        ROLEI.Com first launched end October 2006 with our first flight taking to the skies on 23 January 2010.
        
        Our launch marked one of the largest e-commerce events at the time with more than 10 000 flight requests clocked per minute during the first two days following its launch.
        
        Benchmarked against international best practice in the low cost carrier sectors, we have operated with the best on-time performance in South African skies for the past 6 years and continue to have the lowest cost base domestically - allowing for continued affordable fares. We operate a fleet of new generation Boeing 737-800 aircraft with a seating capacity of 186. Our aircraft are maintained by South African Airways Techinical.
        
        We're known as South Africa's most innovative airline. We are the first carrier to retail flights through grocer Shoprite Checkers, the first to offer booking and payment facilities via our mobile app and we remain the only airline in the world to accept store charge cards (Edgars/Jet) as payment online and through our call centre.
        
</b> </p>

         <h3><b>SERVICES</b></h3>
         <p> <b>ROLEI.Com flies between South Africa’s major airports and offers air services between:

                Johannesburg (OR Tambo International) and Cape Town
                Lanseria (Johannesburg) and Cape Town
                Johannesburg and Durban
                Lanseria (Johannesburg) and Durban
                Cape Town and Durban
                Bloemfontein and Cape Town
                Johannesburg and Port Elizabeth
                Johannesburg and George
                Mango also operates twice-weekly flights between Johannesburg and Zanzibar.
                
        </b> </p>

         <h3><b>OUR VALUES</b></h3>

         <p>ROLEI.Com constantly challenges itself to push the envelope beyond the boundaries of convention; continually developing new products and technologies with a continual focus on service excellence.
            Mango’s key areas of focus are:

Innovation
Operational efficiency
Guest Service </p>
<h3>DID YOU KNOW</h3>
<p>ROLEI.Com is the only airline globally to accept store charge cards in lieu of booking payment
        Mango Juice, our in-flight magazine, is the most awarded domestic read in South African skies
        All Mango’s airport operations have received ACSA Feather Awards for service excellence over the past few years
        Mango received an international Budgie Award in 2007 for its marketing
        We were named African Low Cost Carrier of the Year in 2008
        Sunday Times Generation Next Survey named Mango Coolest Low Cost Airline several times
        We’ve held pole position in the Sunday Times Top Brands Survey four years in a row from 2009 to 2012
        Mango leads its aviation peers across most social media platforms
         </p>
        </body>

</html>
