
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

<div class="container">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        
          <div class="bottom-left">BOOK NOW AND PAY LESS</div>
        <img src="/assets/AIRLINE1 - Copy.jpg" alt="Los Angeles" style="width:100%;">
      </div>
      <div class="container">
   
          
        
          
        </div>
        
      <div class="item">
        <img src="/assets/ticket.jpg" alt="Chicago" style="widows: 100%;">
      </div>
    
      <div class="item">
        
          <div class="top-left">THE FUTURE OF FLYING</div>
        <img src="/assets/pj.jpg" alt="New york" style="width:100%;">
      </div>
      
      <div class="item">
          <div class="bottom-right"></div>
          <img src="/assets/images.jpg" alt="Chicago" style="width:100%;">
        </div>

        <div class="item">
            <div class="bottom-right"></div>
            <img src="/assets/privatejet2.jpg" alt="Chicago" style="width:100%;">
          </div>

          <div class="item">
              <div class="bottom-right"></div>
              <img src="/assets/private jet.jpg" alt="Chicago" style="width:100%;">
            </div>




    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>



